.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Pop-up for About page styling */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  transition: opacity 0.3s ease-in-out;
}

.modal-content {
  background-color: #333;
  color: white;
  padding: 20px;
  border-radius: 8px;
  max-width: 1200px;
  max-height: 800px;
  width: 100%;
  box-sizing: border-box;
  text-align: left;
  position: relative;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

.react-datepicker__input-container input {
    font-size: 16px !important;
    padding: 8px;
}

.full-width-datepicker {
  width: 100% !important;  /* Force DatePicker to occupy full width */
  margin: 0;
}

.react-datepicker__input-container {
  width: 100%; /* Ensure the input container also takes full width */
}

.react-datepicker__input-container input {
  width: 100%; /* Ensures the input inside the DatePicker takes full width */
}